*
!.gitignore
!.zshrc
!.config/

# Zellij config
!.config/zellij/
!.config/zellij/config.kdl

# nvim config
!.config/nvim/
!.config/nvim/**

# Alacritty config
!.config/alacritty/
!.config/alacritty/alacritty.toml

